@import "../../stylesheets/core/variables";

.Homepage__container{
    background-size: cover;
    background-position-x: center;
    background-repeat: repeat-y;
    min-height: 100vh;
}
.Homepage__title{
    margin: 0;
    padding: 40px;
    text-align: center;
    font-size: 2.5rem;
    color: $color-primary-200;
    text-shadow: 3px 3px $color-primary-1000;
}