@import "../../stylesheets/core/variables";

.CharacterCard__container{
    height: 350px;
    width: 200px;
    background-color: $color-secondary-600;
    border: 1px solid $color-primary-600;
    color: $color-primary-0;
    text-align: center;
}
.CharacterCard__image{
    height: 260px;
    background-size: cover;
}
.CharacterCard__title{
    font-size: 1.125rem;
}
