@import "../../stylesheets/core/variables";

.CharacterCard__container{
    height: 400px;
    width: 250px;
    background-color: $color-secondary-600;
    border: 1px solid $color-primary-600;
    color: $color-primary-0;
    text-align: center;
}
.CharacterCard__image{
    height: 300px;
    background-size: cover;
}
.CharacterCard__title{
    font-size: 1.25rem;
}
