.CharacterCard__container{
    height: 400px;
    width: 250px;
    background-color: rgb(116, 0, 0);
    border: 1px solid rgb(109, 109, 109);
    color: white;
    text-align: center;
}
.CharacterCard__image{
    height: 300px;
    background-size: cover;
}
.CharacterCard__title{
    font-size: 1.25rem;
}
