$font-primary: 'Joti One', cursive; 
$font-secondary: 'Neucha', cursive; 

$color-primary-0: white;
$color-primary-200: rgb(207, 207, 207);
$color-primary-400: rgb(109, 109, 109);
$color-primary-600: rgb(51, 51, 51);
$color-primary-1000: black;

$color-secondary-200: rgb(255, 242, 242);
$color-secondary-600: rgb(116, 0, 0);

